:root{
    --preto: #141414;
    --texto: #aaa;
    --textosobre: #fff;
    --vermelho: #e50914;
}

@media (max-width: 450px) {
    
    main #lancamento .descricao{
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-lancamento{
        height: 66vw;
    }

    #lancamento .descricao p,
    #lancamento .descricao h3{
        order: 1;
        display: none;
        z-index: -1;
    }

    #generos .item .opcao{
        opacity: 0.5;
    }
    #generos .item figcaption{
        font-size: large;
    }

}

@media (max-width: 600px) {

    #inicio{
        flex-direction: column;
    }

    .container-lancamento{
        height: 66vw;
    }

    #lancamento .descricao{
        justify-content: center;
        align-items: center;
        height: 200px;
        margin: 0;
        
    }
    #lancamento .descricao p{
        text-align: justify;
        width: 90%;
    }
    #lancamento .descricao .botoes{
        justify-content: flex-end;
        width: 90%;
    
    }

    #lancamento .descricao .titulo,
    #lancamento .descricao h3,
    #lancamento .descricao p,
    #lancamento .descricao .botoes{
    margin-top: 0%;
    margin-bottom: 0%;
}
}

@media (min-width: 715px) {
    #lancamento .descricao .botoes .btn1::after{
        content: "Assistir Agora";
        color: var(--texto);
        
    }
    main #lancamento .descricao{
        background:
        linear-gradient(to right,rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.01) 100%), 
        url('../Images/Infiltrado_Cartaz-1.jpg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 715px;
    }

    #lancamento .descricao .botoes .btn2::after{
        content: "Saiba Mais";
        color: var(--texto);
    }
}

@media (max-height: 600px){
    main #lancamento .descricao{
        height: 60vh;
        background-position: top;
    }

    main #lancamento .descricao p,
    main #lancamento .descricao h3{
        display: block;
        z-index: -1;
        visibility: hidden;
        height: 0;
        margin: 0;
    }

}

@media (max-height: 500px){
    main #lancamento .descricao{
        height: 40vh;
    }
}

/*Responsive para o Carrossel hover*/

@media (max-width: 1000px) {
    .catalogo .owl-stage > .active ~ .active ~ .active ~ .active ~ .active ~ .active {
        transform-origin: none;
    }

    .catalogo .owl-stage > .active ~ .active ~ .active ~ .active ~ .active {
        transform-origin: bottom right;
    }
    
}

@media (max-width: 850px) {
    .catalogo .owl-stage > .active ~ .active ~ .active ~ .active ~ .active {
        transform-origin: none;
    }

    .catalogo .owl-stage > .active ~ .active ~ .active {
        transform-origin: bottom right;
    }
    
}

@media (max-width: 700px) {
    .catalogo .owl-stage > .active ~ .active ~ .active ~ .active {
        transform-origin: none;
    }

    .catalogo .owl-stage > .active ~ .active ~ .active {
        transform-origin: bottom right;
    }
    
}