:root{
    --preto: #141414;
    --texto: #aaa;
    --textosobre: #fff;
    --vermelho: #e50914;
}
/*TRABALHANDO COM 770PX DE LARGURA*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--preto) !important;
    color: var(--textosobre) !important;
}

/* ------------------------------------------------------- */
/*HEADER - BARRA DE NAVEGAÇÃO*/

header .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    padding: 1%;
}

header #logo{
    color: var(--vermelho);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

header .container nav a{
    color: var(--texto);
    margin-right: 10px;
    text-decoration: none;
}

header .container nav a:hover{
    color: var(--textosobre);
}

/* ------------------------------------------------------- */
/*MAIN - LAÇAMENTO*/

main #lancamento .descricao{
    background:
        linear-gradient(to right,rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.01) 100%),
        url('../Images/Infiltrado_Cartaz-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: var(--textosobre) solid 1px;
    border-radius: 15px;
    margin: 0.5%;
}

#lancamento .descricao p{
    text-align: justify;
    width: 50%;
}

#lancamento .descricao .titulo,
#lancamento .descricao h3,
#lancamento .descricao p,
#lancamento .descricao .botoes{
    margin-top: 2%;
    margin-left: 4%;
}

.titulo{
    font-size: 36px;
}

#lancamento .descricao .botoes{
    padding: 1%;
    display: flex;
    width: 50%;
}

#lancamento .descricao .botoes button{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    margin: 1%;
    color: var(--texto);
    background-color: rgba(0, 0, 0, 0.5);
    border: var(--texto) solid 1px;
    border-radius: 25px;
    transition: 0.3s all;
    padding: 1%;
    cursor: pointer;
}

#lancamento .descricao .botoes button:hover{
    color: var(--preto);
    transform: scale(1.05);
    border: var(--preto) solid 1px;
    background-color: var(--textosobre);
}

#lancamento .descricao .botoes button i{
    padding: 2.5%;
}

/* ----------------------------------------------------------- */
/* Section 2 - Catálogos */

.catalogo .owl-theme .item{

    height: 100%;
    width: 100%;
    padding: 10px;
}

.catalogo h2{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 30px;
}


.catalogo .owl-theme .item .opcao{
    display: block;
    border-radius: 10px;
    border: var(--textosobre) solid 1px;
    z-index: 5;
    transition: 0.3s all;
}

/* .catalogo .owl-theme .item .opcao:hover{
    transform: scale(1.05);
} */

/* -------------------------------------------------------------------- */
#generos .item figcaption{
    display: inline-block;
    width: calc(100% - 22px);
    font-weight: bolder;
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: calc(50% - 13.5px);
} */
#generos .item figcaption:hover{
    opacity: rgba(0, 0, 0, 0.5);
}

.owl-item.active:hover{
    position: relative;
    left: 0;
    transform: scale(1.6);
    z-index: 5;
}

.owl-item.active:hover > figure{
    background-color: black;
}
.owl-item.active:hover > figure > .opcao{
    opacity: 0.4;
}

.catalogo .owl-stage .active{
    transform-origin: bottom left;
}

.catalogo .owl-stage .active ~ .active{
    transform-origin: bottom center;
}

.catalogo .owl-stage > .active ~ .active ~ .active ~ .active ~ .active ~ .active {
    transform-origin: bottom right;
}

.owl-item.active,
.owl-loaded, .owl-theme, .owl-drag, .owl-carousel, #series > div{
    z-index: 0;
}

.owl-stage-outer{
    overflow: visible !important;
    overflow-x: hidden !important;
}

.owl-theme,
.owl-carousel{
    position: relative;
    z-index: -1;
}

body{
    overflow-x: hidden !important;
}